<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Bouboule</title>
		<link rel="stylesheet" href="core/style.css">
		<link rel='icon' href='core/favicon.ico' type='image/x-icon'/>
	</head>
	<body>
		<div id="app">
			<header>
				<div class=wrapper>
					BOUBOULE
					<nav>
						<span class="bts index" :class="{btSelected: tab === 0}" @click="tab = 0" title="Aperçu"></span>
						<span class="bts wallet" :class="{btSelected: tab === 1}" @click="tab = 1" title="Ajouter un compte"></span>
						<span v-if="accounts.length > 1" class="bts transfer" :class="{btSelected: tab === 2}" @click="tab = 2" title="Effectuer un virement"></span>
						<span v-if="accounts.length > 0" class="bts recurrent" :class="{btSelected: tab === 3}" @click="tab = 3" title="Opérations récurrentes"></span>
						<span class="bts memo" :class="{btSelected: tab === 4}" @click="tab = 4" title="Mes notes"></span>
						<span class="bts import" :class="{btSelected: tab === 5}" @click="tab = 5" title="Importer"></span>
						<span v-if="accounts.length > 0" :class="{btSelected: tab === 6}" class="bts export" @click="tab = 6" title="Exporter"></span>
					</nav>
				</div>
			</header>

			
			<div
				class="accountResume"
				v-for="a of accounts"
				:class="{accountSelected: tabAccount === accounts.findIndex(ac => ac.id === a.id) && tab === 0}"
				@click="goToAccount(a)"
			>
				<b>{{a.label}}</b><br>
				<span v-html="balanceText(a)"></span>
			</div>
			<div class="accountResume total">
				<b>TOTAL</b><br>
				<span v-html="balanceTotalText"></span>
			</div>

			<Addaccount v-if="tab === 1" :accounts="accounts"></Addaccount>
			<Transfer v-if="tab === 2" :accounts="accounts"></Transfer>
			<Recurrent v-if="tab === 3" :accounts="accounts"></Recurrent>
			<Memo v-if="tab === 4" :notes="notes"></Memo>
			<Import v-if="tab === 5" ></Import>
			<Export v-if="tab === 6" :accounts="accounts"></Export>
			<section v-if="tab === 0" v-for="a of accounts">
				<Account
					:a="a"
					:accounts="accounts"
					:key="a.id"
					v-if="tabAccount === accounts.findIndex(ac => a.id === ac.id)"
				></Account>
			</section>
		</div>
		<script src="core/vue.js"></script>
		<script src="core/app.js"></script>
		<script src="core/components/Addoperation.js"></script>
		<script src="core/components/Operation.js"></script>
		<script src="core/components/Addaccount.js"></script>
		<script src="core/components/Transfer.js"></script>
		<script src="core/components/Recurrentform.js"></script>
		<script src="core/components/Recurrentoperation.js"></script>
		<script src="core/components/Recurrentaccount.js"></script>
		<script src="core/components/Recurrent.js"></script>
		<script src="core/components/Memo.js"></script>
		<script src="core/components/Import.js"></script>
		<script src="core/components/Export.js"></script>
		<script src="core/components/Account.js"></script>
		<script>
			const vm = new Vue({
				el: '#app',
				components: {Addaccount, Transfer, Recurrent, Memo, Import, Export, Account},
				data: {
					accounts: d.accounts,
					notes: d.notes,
					tab: d.accounts.length > 0 ? 0 : 1,
					tabAccount: 0
				},
				computed: {
					balanceTotalText: function () {
						let balance = 0, previBalance = 0
						for (let a of this.accounts) {
							balance += parseFloat(a.initAmount)
							previBalance += parseFloat(a.initAmount)
							for (let o of a.ops) {
								o.amount = parseFloat(o.amount)
								if (o.state === 1) {
									balance += o.isOutput ? - o.amount : o.amount
								}
								previBalance += o.isOutput ? - o.amount : o.amount
							}
						}
						if (balance === previBalance) return '<b>' + prettyAmount(balance.toFixed(2)) + '</b>'
						return '<b>' + prettyAmount(balance.toFixed(2)) + '</b> (' + prettyAmount(previBalance.toFixed(2)) + ')'
					}
				},
				methods: {
					goToAccount: function (account) {
						this.tab = 0
						this.tabAccount = this.accounts.findIndex(ac => account.id === ac.id)
					},
					showAlert: function () {
						function download(text, name, type) {
							const a = document.createElement('a')
							const file = new Blob([text], {type})
							a.href = URL.createObjectURL(file)
							a.download = name
							a.click()
						}
						download('truc à copier dans le fichier', 'bouboule.data', 'text/plain')
					},
					balanceText: function (a) {
						let
							previBalance = parseFloat(a.initAmount),
							balance = parseFloat(a.initAmount)
						for (let o of a.ops) {
							o.amount = parseFloat(o.amount)
							if (o.state === 1) {
								balance += o.isOutput ? - o.amount : o.amount
							}
							previBalance += o.isOutput ? - o.amount : o.amount
						}
						if (balance === previBalance) return '<b>' + prettyAmount(balance.toFixed(2)) + '</b>'
						return '<b>' + prettyAmount(balance.toFixed(2)) + '</b> (' + prettyAmount(previBalance.toFixed(2)) + ')'
					}
				}
			})
		</script>
	</body>
</html>
