* {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	padding: 40px;
	padding-top: 60px;
	font-size: 14px;
	background: #c7ded1;
	font-family: sans-serif;
	max-width: 800px;
}
code {
	background: #d1e9dc;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #538662 url('bg.svg');
	color: #c7ded1;
	font-size: 1.5em;
	padding: 10px;
	font-weight: bold;
	z-index: 1;
	height: 47px;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	padding: 0 40px;
}
nav {
	display: block;
	position: absolute;
	top: 7px;
	margin-left: 170px;
}
h2 {
	margin-top: 40px;
}
.line {
	display: grid;
	text-align: right;
	grid-template-columns: calc(100% - 250px) 110px 120px 20px;
	grid-column-gap: 0px;
	padding: 3px 6px;
	align-items: center;
}
.line:nth-child(odd) {
	background: #d6ecdf;
}
.line:nth-child(even) {
	background: #cde4d7;
}
.line1 {
	display: grid;
	text-align: right;
	grid-template-columns: calc(100% - 400px) 110px 170px 120px;
	grid-column-gap: 0px;
	padding: 6px;
	align-items: center;
}
.line1:nth-child(odd) {
	background: #bcd5c7;
}
.line1:nth-child(even) {
	background: #afcbbb;
}
.label {
    text-align: left;
}
.amount {
    font-weight: bold;
}
.output {
	color: #da0101;
}
.input {
	color: #149c4f;
}
input {
	outline: none;
	border: none;
	padding: 6px;
	font-size: 1em;
}
select {
	background: #fff;
	border: none;
	font-size: 1em;
	padding: 4px;
}

.icon {
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url('icons.svg');
	cursor: pointer;
}
.ok {
	background-position-x: 0;
	cursor: default;
	margin-top: 4px;
}
.wait {
	background-position-x: -20px;
	margin-top: 4px;
}
.add {
	background-position-x: -40px;
	position: absolute;
	margin-top: 6px;
	margin-left: 10px;
}
.rm {
	background-position-x: -60px;
	position: absolute;
	margin-top: 6px;
	margin-left: 10px;
}
.out {
	background-position-x: -80px;
	position: absolute;
	margin-top: 6px;
	margin-left: 5px;
}
.in {
	background-position-x: -100px;
	position: absolute;
	margin-top: 6px;
	margin-left: 5px;
}
.bts {
	width: 32px;
	height: 32px;
	display: inline-block;
	background: url('bts.svg');
	cursor: pointer;
}
.wallet {
	background-position-x: -32px;
}
.transfer {
	background-position-x: -64px;
}
.recurrent {
	background-position-x: -96px;
}
.memo {
	background-position-x: -128px;
}
.import {
	background-position-x: -160px;
}
.export {
	background-position-x: -192px;
}
.btSelected {
	background-position-y: -32px;
}
.btSave {
	background: #73a78b;
	padding: 10px 20px;
	color: #c6ddd0;
	display: inline-block;
	font-weight: bold;
	margin-bottom: 10px;
	cursor: pointer;
}
.btSave:hover {
	color: #fff;
}

textarea {
	width: 100%;
	height: 300px;
	border: none;
	outline: none;
	padding: 6px;
	font-size: 1em;
	resize: none;
}

.error {
	color: #c50000;
	font-weight: bold;
}

.success {
	color: #149c4f;
	font-weight: bold;
}

.accountResume {
	background: #d6ecdf;
	padding: 10px 15px;
	display: inline-block;
	margin-right: 8px;
	margin-bottom: 8px;
	cursor: pointer;
}
.total {
	background: #538662 url('bg.svg');
	color: #e5f8ed;
	cursor: default;
}
.accountSelected {
	box-shadow: 0px 4px 0 #538662;
	background: #e5f8ed;
}